spring:
  r2dbc:
    url: 'r2dbc:postgresql://localhost:5432/test'
    username: postgres
    password: password
    pool:
      enabled: true
      initial-size: 10
      max-acquire-time: 3s
      max-size: 20
    properties:
      database: test
  flyway:
    url: 'jdbc:postgresql://localhost:5432/test'
    user: postgres
    password: password
    enabled: true
    baseline-on-migrate: true
  main:
    banner-mode: OFF
    allow-bean-definition-overriding: true
  redis:
    port: 6379
logging:
  level:
    ROOT: INFO
  io:
    r2dbc:
      postgresql:
        QUERY: DEBUG
        PARAM: DEBUG

pl:
  transport:
    truck:
      database-type: PSQL
      jwt:
        token: dJcleA+nPLY7dGHhoQS5IVfz6WqUSwHPvoD4Kuc7AdM=