<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{dd-MM-yyyy HH:mm:ss.SSS}] [%level] [%thread] [%logger{30}: %line] | %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.dinote.db" level="DEBUG"/>
</configuration>